* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  color: $text-color;
  line-height: 1.5;
  background-color: $light-color;
}
h1 {
  font-weight: 800;
  color: $text-color;
  padding-bottom: 30px;
}
p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

a {
  color: inherit;
}

a:hover {
  border: none;
  color: $contrast-color;
}

abbr {
  text-decoration: none;
}
address {
  font-style: normal;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Textos centrados */
.text-center {
  text-align: center;
}

/************************************************************
Contenedores del sitio
*************************************************************/
header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $light-color;
  color: $text-color;
  text-align: center;

  .credit {
    margin-top: 2rem;
  }

  .apa {
    p {
      font-size: 0.7rem;
      margin-bottom: 0.5em;
    }
  }
}

main {
  padding-top: 3rem;
  padding-bottom: 4rem;
}
section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
/************************************************************
Página de inicio
*************************************************************/
.playas {
  text-align: center;

  div {
    margin-bottom: 2rem;
  }

  h2 + p {
    font-size: 1rem;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .playas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .playas {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 992px) {
  .playas {
    div {
      margin-bottom: 0;
    }
  }
}

/* Menú de navegación principal*/
nav.nav {
  text-align: center;
  color: $text-color;

  ul {
    margin-top: 1rem;
    list-style-type: none;
  }

  li {
    font-size: 1.2rem;
    font-weight: 800;
  }
}

@media (min-width: 992px) {
  nav.nav {
    text-align: left;

    ul {
      li {
        display: inline-block;
        padding-right: 30px;
      }
      li:last-child {
        padding-right: 0;
      }
    }
  }

  header .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
