@use "sass:color";

$text-color: rgb(13, 28, 242);
$light-color: rgb(255, 255, 255);
$contrast-color: rgb(35, 214, 245);

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
